*{
    margin: 5px;
    /* padding: 0; */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: black;
    /* background-image: url('https://i.stack.imgur.com/s17Qi.jpg'); */
    background-repeat: no-repeat;
    background-size: 200%;
}

.texto{
    background-color: yellow;
}

.texto p{
    color: black;
    font-size: medium;
    text-align: justify;
    text-indent: 90px;
}

h1{
    font-size: 50px;
    color: red;
    font-weight: 900px;
}

p{
    color: blue;
}

.compras {
    /* padding: 35px; */
    margin: 35px;
}

table thead{
    color: blue;
}